.overlay {
  position: absolute;
  background: white;
  border: 1px solid #aaa;
  border-bottom: none;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.5);
}

.overlay__item {
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #aaa;

  &:focus,
  &:hover {
    outline: none;
    background: #cef;
  }
}
