body {
  font: 1em/1.25 Arial,sans-serif;
  margin: 0;
}

.codelist {
  float:right;
  width: 360px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  font-size: smaller;
  opacity: .5;
}

.codelist--active,
.codelist:hover {
  opacity: 1;
}

.codelist__item {
  padding: 2px 4px;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 -3px 5px 0 rgba(0,0,0,.05);
  margin-bottom: 1px;
}

.codelist__item:focus,
.codelist__item:hover {
  box-shadow: inset 0 0 3px 3px #fff;
  outline: none;
}

.codelist__item.success_0 {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

.codelist__item.success_1 {
  color: #3C763D;
  background: #DFF0D8;
  border-color: #D6E9C6;
}

.codelist__delete {
  float: right;
  opacity: 0;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  color: #777;
  text-decoration: none;
  background: rgba(255,255,255,.33);
  text-align: center;
}

.codelist__item:focus .codelist__delete,
.codelist__item:hover .codelist__delete {
  opacity: 1;
}

.codelist__delete:focus,
.codelist__delete:hover {
  opacity: 1;
  color: #222;
  background: white;
  outline: none;
}

.content {
  margin-right: 362px;
}

.stage,
.code,
pre {
  font: 1em/1.25 Inconsolata,"DejaVu Sans Mono",Monaco,Consolas,"Courier New",Courier,monospace;
}

pre {
  margin: 0;
}

.code {
  border: none;
  padding: 4px 4px 4px 8px;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  box-shadow: inset 0 0 3px 3px #eee;
  background: #fbfffc;
}

.code--filled {
  height: 200px;
}

.code:focus,
.code:active {
  box-shadow: inset 0 0 3px 3px #cfc;
}

button{display:inline-block;*display:inline;zoom:1;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition-property:border-color, box-shadow;-moz-transition-property:border-color, box-shadow;-ms-transition-property:border-color, box-shadow;-o-transition-property:border-color, box-shadow;transition-property:border-color, box-shadow;-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;-webkit-appearance:button;border-style:solid;border-width:1px;cursor:pointer;font:normal 1em/1.5 Arial,Helvetica Neue,Helvetica,sans-serif;height:1.5em;*height:auto;margin:0;outline:none;overflow:visible;padding:.125em 0.5em .0625em;position:relative;text-align:center;text-decoration:none;vertical-align:baseline;*vertical-align:middle}
button::-moz-focus-inner{border:0;padding:0}
button{color:#111;border-color:#999;border-color:rgba(0,0,0,0.2);border-bottom-color:rgba(0,0,0,0.4);border-radius:.125em;background:#ccc;background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));background-image:-moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));background-image:-ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));background-image:-o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));background-image:linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80FFFFFF', endColorstr='#00FFFFFF');box-shadow:0 1px 2px rgba(0,0,0,0.2),inset 2px 0 0 -1px rgba(255,255,255,0.2),inset -2px 0 0 -1px rgba(255,255,255,0.2),inset 0 2px 0 -1px rgba(255,255,255,0.5);text-shadow:0 1px rgba(255,255,255,0.85)}
button:focus,button:hover{color:#012;border-color:#abd;border-bottom-color:#98a9cb;background:#bbb;background-image:-webkit-radial-gradient(center top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%),-webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(127,127,127,0));background-image:-moz-radial-gradient(center top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%),-moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(127,127,127,0));background-image:-ms-radial-gradient(center top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%),-ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(127,127,127,0));background-image:-o-radial-gradient(center top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%),-o-linear-gradient(top, rgba(255,255,255,0.5), rgba(127,127,127,0));background-image:radial-gradient(center top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%),linear-gradient(top, rgba(255,255,255,0.5), rgba(127,127,127,0));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80FFFFFF', endColorstr='#007F7F7F');box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 3px #acf,inset 2px 0 0 -1px rgba(255,255,255,0.2),inset -2px 0 0 -1px rgba(255,255,255,0.2),inset 0 2px 0 -1px rgba(255,255,255,0.67);text-shadow:0 1px rgba(170,206,242,0.75)}
button:active{color:#024;border-color:#acf;background-image:-webkit-linear-gradient(top, rgba(127,127,127,0), rgba(255,255,255,0.5));background-image:-moz-linear-gradient(top, rgba(127,127,127,0), rgba(255,255,255,0.5));background-image:-ms-linear-gradient(top, rgba(127,127,127,0), rgba(255,255,255,0.5));background-image:-o-linear-gradient(top, rgba(127,127,127,0), rgba(255,255,255,0.5));background-image:linear-gradient(top, rgba(127,127,127,0), rgba(255,255,255,0.5));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007F7F7F', endColorstr='#80FFFFFF');box-shadow:0 1px 0 rgba(255,255,255,0.1),0 0 3px #acf,inset 0 1px rgba(255,255,255,0.7),inset 0 0 0 1 rgba(0,0,0,0.15)}

#run {
  margin-left: 5px;
}

.stage {
  margin: 4px 0 0;
  border: 1px solid #aaa;
  padding: 4px 4px 4px 8px;
  white-space: pre;
  overflow: auto;
}

.error {
  border: 1px solid red;
  border-radius: 2px;
  padding: 4px;
}

.error__type {
  font-family: DejaVu Sans,sans-serif;
}

.error__backtrace {
  font-size: smaller;
}

.stage > .error {
  margin-left: -4px;
}
