body {
  font: 1em/1.25 Arial,sans-serif;
  margin: 0;
}

.codelist {
  float:right;
  width: 360px;
  background: white;
  box-shadow: -2px 2px 4px #ddd;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
}

.codelist__item {
  padding: 2px 4px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 -3px 5px 0 #eee;
  border-left: 4px solid #777;
}

.codelist__item:focus,
.codelist__item:hover {
  box-shadow: inset 0 0 3px 3px #cfc;
  outline: none;
}

.codelist__item.success_0 {
  border-left: 4px solid #f00;
}

.codelist__item.success_1 {
  border-left: 4px solid #0f0;
}

.content {
  margin-right: 370px;
}

.stage,
.code,
pre {
  font: 1em/1.25 Inconsolata,"DejaVu Sans Mono",Monaco,Consolas,"Courier New",Courier,monospace;
}

pre {
  margin: 0;
}

.code {
  border: none;
  padding: 4px 4px 4px 8px;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  box-shadow: inset 0 0 3px 3px #eee;
}

.code--filled {
  height: 200px;
}

.code:focus,
.code:active {
  box-shadow: inset 0 0 3px 3px #cfc;
}

.stage {
  margin: 10px 0;
  border: 1px solid #777;
  padding: 4px 4px 4px 8px;
  white-space: pre;
  overflow: auto;
  resize: vertical;
}

.error {
  border: 1px solid red;
  border-radius: 2px;
  padding: 4px;
}

.error__backtrace {
  font-size: smaller;
}
