body {
  font: 1em/1.25 Arial,sans-serif;
  margin: 0;
}

@import "buttons";

@import "history";

.content {
  margin-right: 362px;
}

.stage,
.code,
pre {
  font: 1em/1.25 Inconsolata,"DejaVu Sans Mono",Monaco,Consolas,"Courier New",Courier,monospace;
}

pre {
  margin: 0;
}

.code {
  border: none;
  padding: 4px 4px 4px 8px;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  box-shadow: inset 0 0 3px 3px #eee;
  background: #fbfffc;
}

.code--filled {
  height: 200px;
}

.code:focus,
.code:active {
  box-shadow: inset 0 0 3px 3px #cfc;
}

#run {
  margin-left: 5px;
}

.stage {
  margin: 4px 0 0;
  border: 1px solid #aaa;
  padding: 4px 4px 4px 8px;
  white-space: pre;
  overflow: auto;
}

.error {
  border: 1px solid red;
  border-radius: 2px;
  padding: 4px;
}

.error__type {
  font-family: DejaVu Sans,sans-serif;
}

.error__backtrace {
  font-size: smaller;
}

.stage > .error {
  margin-left: -4px;
}

@import "overlay";
